<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant List</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/restaurant1.css">
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">{{#if isAuthenticated}}{{user.name}}'s{{/if}}Restaurant List</span>
    </div>
    {{#if isAuthenticated}}<a href="/users/logout">Logout</a>
    {{else}}<a href="/users/login">Login</a>{{/if}}
  </nav>

  {{{ body }}}

  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/a8003775e6.js" crossorigin="anonymous"></script>
</body>

</html>