<h2>Register</h2>
{{> message}}
<form action="/users/register" method="POST">

  <div class="form-group">
    <label for="name">name</label>
    <input type="name" name="name" id="name" placeholder="enter name" value="{{name}}">
  </div>

  <div class="form-group">
    <label for="email">email</label>
    <input type="email" name="email" id="email" placeholder="enter email" value="{{email}}">
  </div>

  <div class="form-group">
    <label for="password">password</label>
    <input type="password" name="password" id="password" placeholder="enter password" value="{{password}}">
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="Password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"
      value="{{confirmPassword}}">
  </div>

  <button type="submit">Register</button>

  <p>
    Have an Account? <a href="/users/login">Login</a>
  </p>

</form>